@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'navigation.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 0.625rem;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: #A3B18A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cantora One', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* ====== HERO ====== */
.hero {
    width: 100%;
    height: 100%;
}

.hero_content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero h1 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ====== HERO END ====== */

/* ====== BARK, BROEN & TRÆSTUB ====== */
.bark,
.broen,
.traestub {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.bark_content,
.broen_content,
.traestub_content {
    background-color: white;
}

.bark h2,
.broen h2,
.traestub h2 {
    font-size: 4rem;
    margin-left: 20px;
}

.bark p,
.broen p,
.traestub p {
    font-size: 2rem;
    margin: 20px
}

.bark img,
.broen img,
.traestub img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* ====== BARK, BROEN & TRÆSTUB END ====== */

/* ====== FOOTER ====== */
footer {
    width: 100%;
    height: 20vh;
    background-color: #373737;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: white;
    font-size: 2.5rem;
}

/* ====== FOOTER END ====== */

@media (min-width: 900px) {
    .hero h1 {
        font-size: 10rem;
    }

    .hero img {
        width: 100%;
        height: 100%;
    }

    .bark,
    .broen,
    .traestub {
        height: 100vh;
    }

    .bark_content,
    .traestub_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bark img,
    .broen img,
    .traestub img {
        padding: 20px;
    }

    .broen_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .broen .section_text {
        grid-area: 1 / 1 / 3 / 3;
    }

    .broen_content > img {
        grid-area: 1 / 3 / 3 / 5;
    }

    .section_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bark h2,
    .broen h2,
    .traestub h2 {
        font-size: 6rem;
        line-height: 50px;
    }

    .bark p,
    .broen p,
    .traestub p {
        font-size: 2.3rem;
    }
}