@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'mediaqueries.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 0.625rem;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: #A3B18A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cantora One', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* ====== NAVIGATION ====== */
header {
    width: 100%;
    height: 70px;
    background-color: #3A5A40;
    position: fixed;
    z-index: 1;
}

.logo {
    display: none;
}

.nav_list {
    display: none;
    background-color: #1f1f29d8;
    width: 100%;
    z-index: 1;
}

li {
    list-style: none;
    font-size: 2rem;
    font-family: 'Cantora One', sans-serif;
}

.nav_list.active {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    align-items: center;
}

.hamburger {
    display: block;
    margin: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* ====== NAVIGATION END ====== */

/* ====== HERO ====== */
.hero {
    width: 100%;
    height: 100%;
}

.hero_content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero h1 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ====== HERO END ====== */

/* ====== BARK, BROEN & TRÆSTUB ====== */
.bark,
.broen,
.traestub {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.bark_content,
.broen_content,
.traestub_content {
    background-color: white;
}

.bark h2,
.broen h2,
.traestub h2 {
    font-size: 4rem;
    margin-left: 20px;
}

.bark p,
.broen p,
.traestub p {
    font-size: 2rem;
    margin: 20px
}

.bark img,
.broen img,
.traestub img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

/* ====== BARK, BROEN & TRÆSTUB END ====== */